.git
.gitignore
.dockerignore
.env
.env.*.local
*.pyc
__pycache__
.pytest_cache
.coverage
htmlcov/
.mypy_cache
.venv
venv/
env/
*.egg-info/
dist/
build/
.DS_Store
*.sqlite3
node_modules/
.vscode/
.idea/
.swp
*.log
logs/
media/
staticfiles/
